.banefit__inner {
    width: 33.33%;
    text-align: center;
  }
  
  .banefit__inner h4 {
    font-weight: 400;
  }
  
  .banefit__inner img {
    margin-bottom: 15px;
  }
  
  .benefit__parant {
    align-items: center;
  }
  
  .new__letter {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 0 40px 40px 40px;
    padding: 60px 30px;
    box-shadow: 7px 7px 40px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: -165px;
  }
  
  .newsletter__footer {
    display: flex;
  }
  
  .newsletter__form input {
    padding: 15px;
    width: 100%;
    max-width: 850px;
    margin-right: 10px;
    background: #ffffff;
    border: 1px solid #000;
    border-radius: 0px 0px 40px 0px;
  }
  
  .new_btn {
    font-size: 20px;
    background-color: black;
    color: white;
  }
  
  .newsletter__form h3 {
    font-size: 36px;
  }
  
  .newsletter__form p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  