@media screen and (max-width: 1199px){
    .header{
        position: static;
        padding: 20px 12px;
    }
    .nav {
        position: absolute;
        z-index: 3;
        text-align: center;
        left: 0;
        max-height: 0;
        flex-direction: column;
        top:95px;
        transition: 1s;
        width: 100%;
        height: 210px;
        overflow: hidden;
        background-color: white;
    } 
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 100%;
        margin: 0;
        margin-top: 28px;
    }
    .nav.active{
        max-height: 1000px;
    }
    .header__toggler{
        display: inline-block;
         margin-left: 30px;
    }
    .nav-item{
        text-align: initial;
        font-size: 16px;
        font-weight: 600;
    }
    .new__letter{
        width:100%
    }
    .navbar a {
        padding: 10px;
    }
    .banner__right {
        width: 58%;
        bottom: 180px;
    }
    .banner__inner h2 {
        font-size: 42px;
        font-weight: 700;
    }
    .banner__inner p {
        font-size: 32px;
        margin-bottom: 6px;
    }
    .btn--black {
        font-size: 20px;
    }
    /* banner-end */
    .card__head p {
        margin: 0 16pc;
        font-size: 18px;
        font-weight: 600;
    }
    .card__head {
        line-height: 30px;
    }
    .card__title{
        padding: 85px 23px;
        margin-top: 15px;
    }
    .new_btn{
        font-size: 20px;
    }
    .card__title_reverse{
        width: calc(100% + 0px);
    }
    .collection__inner {
        position: relative;
        width: 33%;
        padding-right: 14px;
        margin-top: 15px;
    }
    .banner__parent {
        position: relative;
    }
    .collection__img img{
        width:100%;
    }
    .collection__available{
        width:100%;
    }
    .btn_coll {
        padding: 14px 20px;
        width: 100%;
    }
    .collection__btn {
        bottom: 55px;
        left: 14px;
        width: 90%;
    }
    /* page-3 */
    .review__details img {
        height: 27.8%;
    }
    .love_title {
        font-size: 24px;
        font-weight: 900;
        color: black;
        margin-top: -70px;
    }
    .love_btn{
        bottom: 10px;
        left: 14px;
        width: 90%;
    }
    .warkout {
        margin-top: 24px;
        width: 95%;
    }
}
@media screen  and (max-width:991px){
    .banner__right {
        width: 55%;
        top: 166px;
    }
    .banner__inner h2 {
        font-size: 38px;
        font-weight: 600;
    }
    .banner__inner p {
        font-size: 28px;
    }
    .navbar a {
        padding: 10px;
    }
    .btn--black {
        font-size: 18px;
    }
    .btn--black {
        font-size: 18px;
    }
    .btn{
        padding: 18px 30px;
    }
    /* banner-end */
    .card__head p {
        margin: 0 9pc;
    }
    .card{
        margin-top: 50px;
    }
    .card__right {
        top:0;
    }
    .card__title {
        padding: 65px 6px;
        margin-top: 38px;
        height: 84%;
        width: calc(100% + 75px);
    }
    .card__inner{
        width: 100%;
         margin-top: 12px;
    }
    .card__title_reverse{
        width: calc(100% + 0px);
    }
    .collection__inner {
        position: relative;
        width: 50%;
        padding-right: 14px;
        margin-top: 15px;
    }
    .collection__btn {
        left: 21px;
        width: 80%;
    }
    /* page-3 */
    .review__details img {
        height: 27.4%;
    }
    .size__guides_child {
        width: 50%;
    }
    .survey_right {
        width: 40%;
        border-right: 1px solid #707070;
        padding: 0 30px;
    }
    .left_survey {
        width: 58%;
        padding: 0 20px;
    }
    input.member_input {
        width: 100%;
        margin-top: 12px;
    }
    /* page-4 */
    .section__guides{
        display: block;
    }
    .section__left_guides {
        width: 100%;
        padding-right: 0;
        border-right: none;
        border-bottom: 1px solid #707070;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .section_right_guides {
        width: 100%;
        padding-left: 0;
    }
    .inner__title {
        border-bottom: 1px solid #707070;
        margin-bottom: 13px;
        padding-bottom: 0px;
        width: 100%;
        text-transform: uppercase;
    }
    /* page-5 */
    .about_info {
        width: calc(100% - 41%);
        padding: 15px;
    }
    .about_img {
        margin-right: 10px;
        width: 44%;
    }
}
@media screen  and (max-width:767px){
    .banner__inner h2 {
        font-size: 28px;
    }  
    .banner__inner p {
        font-size: 20px;
    }
    .btn--black {
        font-size: 12px;
        width: 60%;
        padding: 18px 12px;
    }
    .banner__right {
        top: 118px;
        width: 55%;
    }
    /* bannner-end */
    .card__right{
        width:100%;
        position: static;
        margin: 0;
    }
    .card {
        width: 100%;
        position: static;
        display: block;
        margin: 0;
    }
    .card__head p {
        margin: 0 6pc;
    }
    .card__title {
        padding: 65px 25px;
        margin-top: 15px;
        width: calc(100% + 100%);
        margin-bottom: 20px;
    }
    .left__reverse {
        width: 50%;
    }
    /* card-end */
    .newsletter__footer{
        display: block;
    }
    .new_btn {
        font-size: 20px;
        background-color: black;
        color: white;
        width: 100%;
        margin-top: 15px;
    }
    .newsletter {
        padding: 25px 25px 50px;
    }
    .footer__parant {
        display: block;
    }
    .footer__title {
        width: 100%;
        border-bottom: 1px solid;
    }
    .footer_last-child{
        border:none;
    }
    .collection_details h2 {
        font-size: 24px;
    }
    .collection_details p {
        font-size: 14px;
        font-weight: 300;
    }
    .collection__btn {
        position: absolute;
        bottom: 55px;
        left: 15px;
        width: 80%;
    }
    .btn_coll{
        padding: 18px 10px;
    }
    .collection__available {
        width: 100%;
    } 
    /* page-3 */
    .review__parant{
        display: block;
    }
    .review__left {
        width: 100%;
    }
    .review__details img {
        height: 28.4%;
    }
    .warkout{
        margin:0;
        display: none;
    }
    .review_info{
        width:100%;
        margin-top: 15px;
    }
    .love_btn{
        bottom: 10px;
    }
    .survey_father {
         display: block;
        width: 100vw;
        margin-top: 50px;
    }
    .survey_right {
        width: 100%;
        border-right: none;
        padding: 0 30px;
    }
    .rating__detealis {
        display: flex;
        margin-top: 7px;
        width: 100%;
        justify-content: space-between;
    }
    .left_survey {
        width: 100%;
        padding: 0 20px;
    }
    /* page-4 */
    .section__guides{
        padding: 30px;
    }
    /* page-5 */
    .about_inner {
        display: block;
    }
    .about_img{
        width: 100%;
        margin-right: 0;
    }
    .about_info {
        width: calc(100% - 0%);
        margin-top: 18px;
    }
    .produces_inner{
        display: block;
    }
    .produces__items {
        width: 100%;
        padding-right: 0px;
        padding-bottom: 17px;
    }
    .ourselves__inner{
        display: block;
    }
    .ourselves__left {
        width: 103%;
    }
    .ourselves__right {
        width: 100%;
        margin-top: 15px;
    }
    .ourselves {
        margin-top: 0;
        padding: 30px;
    }
    
}
@media screen and (max-width:567px){
  
    .banefit__inner img {
        margin-bottom: 6px;
    }
    .btn {
        padding: 14px 0px;
    }
    .banner__inner p {
        font-size: 18px;
    }
    .banefit__inner h4 {
        font-weight: 400;
        font-size: 12px;
    }
    .banner__right {
        top: 83px;
        width: 55%;
    }
    .banner__inner h2 {
        font-size: 24px;
    }
    .btn--black {
        width: 66%;
    }
    .collection__inner {
        width: 100%;
    }
    .collection__available{
        width: 100%;
    }
    .collection__img img{
        width:100%;
    }
    .collection_details h2 {
        font-size: 36px;
    }
    .collection_details p {
        font-size: 18px;
    }
    .btn_coll {
        padding: 18px 90px;
        width: 105%;
    }
    .collection__btn {
        left: 50px;
    }
    /* page-3 */
    .left_inner {
        display: flex;
        flex-wrap: wrap;
    }
    .review__details {
        width: 100%;
        order: 2;
        display: flex;
        margin-top: 10px;
    }
    .review_main_img {
        width: 100%;
        margin-left: 8px;
        order: 1;
    }
    .warkout{
        order: 3;
    }
    .review__details img {
        height: 87.4%;
        width: 255px;
    }
    /* page-4 */
    .section__guides{
        padding:30px;
    }
}
@media screen and (max-width:480px) {
    .banner__right {
        top: 30%;
        width: 55%;
        line-height: 14px;
    }
    .banner__inner h2 {
        font-size: 17px;
    }

    .btn--black {
        font-size: 7px;
        padding: 8px 5px;
        margin-top: 5px;
    }
    .btn--black {
        width: 60%;
    }
    .card__title h2 {
        font-size: 28px;
    }
    .banner__inner p {
        font-size: 14px;
    }
    .card__head p {
        margin: 0 0pc;
    }   
    .card__title{
        width: calc(100% + 100%);
    } 
    .card__title p {
        font-size: 12px;
    }
    .icon {
        margin-left: 31px;
    }
    .icon a{
        margin: 0;
        width: 40px;
    }
    .btn_coll {
        padding: 16px 13px;
    }
    .collection_details h2 {
        font-size: 28px;
    }
    .collection_details p {
        font-size: 16px;
    }
    .collection__btn {
        bottom: 54px;
        left: 14px;
        width: 85%;
    }
    /* page-3 */
    .love_btn {
        bottom: 10px;
    }
    .review_title h2, h3 {
        font-size: 26px;
    }
    .section-body h2 {
        margin-bottom: 15px;
        margin-top: 15px;
        padding-top: 7px;
        border-top: 1px solid #707070;
    }
    .right-content {
        line-height: normal;
    }
    .left-content {
        width: 79%;
        padding-bottom: 14px;
    }
    .review__details img {
        height: 84%;
        width: 255px;
    }
    .review__details{
        overflow: hidden;
    }
    .section__guides {
        padding: 8px;
    }

}