@media screen and (max-width: 1199px){
    .header{
        position: static;
        padding: 20px 12px;
    }
    .nav {
        position: absolute;
        z-index: 3;
        text-align: center;
        left: 0;
        max-height: 0;
        flex-direction: column;
        top:95px;
        transition: 1s;
        width: 100%;
        height: 210px;
        overflow: hidden;
        background-color: white;
    } 
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 100%;
        margin: 0;
        margin-top: 28px;
    }
    .nav.active{
        max-height: 1000px;
    }
    .header__toggler{
        display: inline-block;
         margin-left: 30px;
    }
    .nav-item{
        text-align: initial;
        font-size: 16px;
        font-weight: 600;
    }
    .new__letter{
        width:100%
    }
    .banner__right {
        top: 220px;
        width: 58%;
    }
    .banner__inner h2 {
        font-size: 42px;
        font-weight: 700;
    }
    .banner__inner p {
        font-size: 32px;
        margin-bottom: 6px;
    }
    .btn--black {
        font-size: 20px;
    }
    /* banner-end */
    .card__head p {
        margin: 0 16pc;
        font-size: 18px;
        font-weight: 600;
    }
    .card__head {
        line-height: 30px;
    }
    .card__title{
        padding: 85px 23px;
        margin-top: 15px;
    }
    .new_btn{
        font-size: 20px;
    }
    .card__title_reverse{
        width: calc(100% + 0px);
    }
    .collection__inner {
        position: relative;
        width: 33%;
        padding-right: 14px;
        margin-top: 15px;
    }
}
@media screen  and (max-width:991px){
    .banner__right {
        top: 160px;
        width: 55%;
    }
    .banner__inner h2 {
        font-size: 38px;
        font-weight: 600;
    }
    .banner__inner p {
        font-size: 28px;
    }
    .navbar a {
        padding: 0 12px;
    }
    .btn--black {
        font-size: 18px;
    }
    .btn--black {
        font-size: 18px;
    }
    .btn{
        padding: 18px 30px;
    }
    /* banner-end */
    .card__head p {
        margin: 0 9pc;
    }
    .card{
        margin-top: 50px;
    }
    .card__right {
        top:0;
    }
    .card__title {
        padding: 65px 6px;
        margin-top: 38px;
        height: 84%;
        width: calc(100% + 75px);
    }
    .card__inner{
        width: 100%;
         margin-top: 12px;
    }
    .card__title_reverse{
        width: calc(100% + 0px);
    }
    .collection__inner {
        position: relative;
        width: 50%;
        padding-right: 14px;
        margin-top: 15px;
    }
}
@media screen  and (max-width:767px){
    .banner__inner h2 {
        font-size: 24px;
    }  
    .banner__inner p {
        font-size: 20px;
    }
    .btn--black {
        font-size: 12px;
    }
    .banner__right {
        top: 140px;
        width: 55%;
    }
    /* bannner-end */
    .card__right{
        width:100%;
        position: static;
        margin: 0;
    }
    .card {
        width: 100%;
        position: static;
        display: block;
        margin: 0;
    }
    .card__head p {
        margin: 0 6pc;
    }
    .card__title {
        padding: 65px 25px;
        margin-top: 15px;
        width: calc(100% + 100%);
        margin-bottom: 20px;
    }
    .left__reverse {
        width: 50%;
    }
    /* card-end */
    .btn--black {
        font-size: 12px;
        width: 53%;
        margin-top: 0px;
    }
    .newsletter__footer{
        display: block;
    }
    .new_btn {
        font-size: 20px;
        background-color: black;
        color: white;
        width: 100%;
        margin-top: 15px;
    }
    .newsletter {
        padding: 25px 25px 50px;
    }
    .footer__parant {
        display: block;
    }
    .footer__title {
        width: 100%;
        border-bottom: 1px solid;
    }
    .footer_last-child{
        border:none;
    }
    .collection_details h2 {
        font-size: 24px;
    }
    .collection_details p {
        font-size: 14px;
        font-weight: 300;
    }
    .btn_coll{
        padding: 18px 10px;
    }
    .collection__available {
        width: 250px;
    }
    
}
@media screen and (max-width:567px){
    .banner__right {
        top: 100px;
        width: 55%;
    }
    .banefit__inner img {
        margin-bottom: 6px;
    }
    .banefit__inner h4 {
        font-weight: 400;
        font-size: 12px;
    }
    .btn--black {
        width: 66%;
    }
    .btn {
        padding: 18px 21px;
    }
    .collection__inner {
        width: 100%;
    }
    .collection__available{
        width: 100%;
    }
    .collection__img img{
        width:100%;
    }
    .collection_details h2 {
        font-size: 36px;
    }
    .collection_details p {
        font-size: 18px;
    }
    .btn_coll{
        padding: 18px 90px;
    }
    .collection__btn {
        left: 40px;
    }
}
@media screen and (max-width:480px) {
    .banner__right {
        top: 85px;
        width: 55%;
        line-height: 14px;
    }
    .banner__inner h2 {
        font-size: 18px;
    }
    .btn--black {
        font-size: 7px;
        padding: 8px 5px;
        margin-top: 5px;
    }
    .btn--black {
        width: 60%;
    }
    .card__title h2 {
        font-size: 28px;
    }
    .banner__inner p {
        font-size: 14px;
    }
    .card__head p {
        margin: 0 0pc;
    }   
    .card__title{
        width: calc(100% + 100%);
    } 
    .card__title p {
        font-size: 12px;
    }
    .icon {
        margin-left: 31px;
    }
    .icon a{
        margin: 0;
        width: 40px;
    }
    .btn_coll {
        padding: 16px 13px;
    }
    .collection_details h2 {
        font-size: 28px;
    }
    .collection_details p {
        font-size: 16px;
    }
    .collection__btn{
        bottom: 54px;
        left: 65px;
    }
}