*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	font-family:segoe UI;
}
img{
	
	max-width: 100%;
}
ul{
	list-style: none;
}
.section{
	margin: 35px 0 16px 0;
}
.section-sm{
	padding-top: 50px;
	padding-bottom: 50px
}
.upper-bar{
	background-color:gray;
	text-align:center;
	padding:10px 0px 9px;
}
.uper-title{
	color:white;

}
.center-title{
	text-align: center;
    padding: 30px;
    font-size: 35px;
}
:focus{
	outline:none;
}
.header{
	display:flex;
	text-align:center;
	justify-content:space-between;
	padding:20px 70px;
	z-index: 3;
	width: 100%;
	position: absolute;
}
.logo{
	font-weight: 700;
	text-decoration: none;
	font-size: 50px;
	color:black;
	display:flex;
}
.navbar a {
    font-size: 16px;
    padding: 0 17px;
    text-decoration: none;
	color: black;
	text-transform: uppercase;
    font-weight: 500;
}
.navbar {
    display: flex;
    margin-top: 20px;
    margin: 20px 138px 0 240px;
}
.navbar-column{
	flex-direction: column;
}
.navbar-column a{
	padding: 5px 0;
}
.nav-items{
	color:red;
}
.icon{
	display:flex;
	align-items:center;
}
.icon a {
    margin-left: 20px;
	padding: 6px;
}
.btn {
    text-decoration: none;
    display: inline-block;
    padding: 20px 50px;
    border: 0;
    border-radius: 0 34px 34px 34px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.btn--black {
    background: #000;
    border: 1px solid #000;
    color: #fff;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	padding-right:15px;
	padding-left: 15px;
}
.d--flex {
	display: flex;
}
.banner__parant {
	position: relative;
}
.banner__right {
    position: absolute;
    top: 264px;
    width: 57%;
    right: 0;
}
.banner__img{
	width: 100%;
}
.banner__inner h2{
	font-size: 60px;
	font-weight: 800;
	color: #000;
}
.banner__inner p{
	font-size: 40px;
	color: #000;
}
.header__toggler{
	margin-left: 10px;
	border: 1px;
	background-color: white;
	display: none;
}
