* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: segoe UI;
  background-color: #F8F8F8;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.section {
  padding: 60px 0;
}

.section-sm {
  padding-top: 50px;
  padding-bottom: 50px;
}

.upper-bar {
  background-color: gray;
  text-align: center;
  padding: 10px 0px 9px;
}

.uper-title {
  color: white;
}

.center-title {
  text-align: center;
  padding: 30px;
  font-size: 35px;
}

:focus {
  outline: none;
}

.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 20px 70px;
  z-index: 3;
  width: 100%;
  position: absolute;
}

.logo {
  font-weight: 700;
  text-decoration: none;
  font-size: 50px;
  color: black;
  display: flex;
}

.navbar a {
  font-size: 16px;
  padding: 0 17px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar {
  display: flex;
  margin-top: 20px;
  margin: 20px 138px 0 240px;
}

.navbar-column {
  flex-direction: column;
}

.navbar-column a {
  padding: 5px 0;
}

.nav-items {
  color: red;
}

.icon {
  display: flex;
  align-items: center;
}

.icon a {
  margin-left: 20px;
  padding: 6px;
}

.header__toggler {
  margin-left: 10px;
  border: 1px;
  background-color: white;
  display: none;
  outline: none;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 20px 50px;
  border: 0;
  border-radius: 0 34px 34px 34px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden;
}
.btn::before {
  content: "";
  width: 90%;
  height: 25%;
  position: absolute;
  background-color: white;
  top: 34px;
  left: 0;
  transform: translateX(-100%) rotate(45deg);
  transition: all 1.2s;
}
.btn:hover::before{
  transform: translateX(100%) rotate(45deg);
}
.banner__parent{
  position: relative;
}
.btn--black {
  background: #000;
  border: 1px solid #000;
  color: #fff;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.d--flex {
  display: flex;
}
/* banner-start */

.banner__right {
  position: absolute;
  top: 264px;
  width: 57%;
  right: 0;
}

.banner__img {
  width: 100%;
}

.banner__inner h2 {
  font-size: 60px;
  font-weight: 800;
  color: #000;
}

.banner__inner p {
  font-size: 40px;
  color: #000;
}
/* banner-end */
.card__head {
  text-align: center;
}

.card__head h2 {
  font-size: 36px;
}

.card__head p {
  margin: 0 24px;
}

.card {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 115px;
}

.card__left {
  width: 50%;
  z-index: 5;
}

.card__title {
  box-shadow: 7px 7px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0 40px 0 40px;
  background-color: #fff;
  padding: 100px 23px;
  width: calc(100% + 90px);
}

.card__right {
  width: 50%;
  position: absolute;
  bottom: -40px;
  right: 0;
}

.card__title p {
  font-size: 14px;
  font-weight: 600;
}

.card__title h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
}

.card.card--reverse {
  flex-direction: row-reverse;
}

.card__reverse {
  left: 0;
}

.left__reverse {
  width: 60%;
}
/* card- end */
.banefit__inner {
  width: 33.33%;
  text-align: center;
}

.banefit__inner h4 {
  font-weight: 400;
}

.banefit__inner img {
  margin-bottom: 15px;
}

.benefit__parant {
  align-items: center;
}

.new__letter {
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 0 40px 40px 40px;
  padding: 60px 30px;
  box-shadow: 7px 7px 40px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: -165px;
}

.newsletter__footer {
  display: flex;
}

.newsletter__form input {
  padding: 15px;
  width: 100%;
  max-width: 850px;
  margin-right: 10px;
  background: #ffffff;
  border: 1px solid #000;
  border-radius: 0px 0px 40px 0px;
}

.new_btn {
  font-size: 20px;
  background-color: black;
  color: white;
}

.newsletter__form h3 {
  font-size: 36px;
}

.newsletter__form p {
  font-size: 15px;
  margin-bottom: 15px;
}
/* footer-start */
.footer_nav {
  flex-direction: column;
}

.footer {
  background-color: #000;
  padding-top: 150px;
  padding-bottom: 60px;
}

.footer__title {
  width: 33.33%;
}

.footer_nav h2 {
  color: white;
  text-transform: uppercase;
}

.nav-link {
  color: white;
  display: inline-block;
  padding: 6px 0;
  font-size: 18px;
  font-weight: 500;
}

.app_link img {
  margin-right: 15px;
}

.card__title_reverse {
  width: calc(100% + 0px);
}

.footer__parant {
  display: flex;
}

.nav-item {
  text-transform: uppercase;
}
/* collection-start */
.collection_parant{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
.collection__inner {
  position: relative;
  width: 25%;
  padding-right: 14px;
}
.collection_title {
  margin-bottom: 20px;
}
.collection_title h1{
    font-size: 28px;
    font-weight: 800;
}
.collection_details{
    position: absolute;
    top: 8px;
    left: 17px;
    width: 35%;
    color: white;
}
.collection_details h2{
  font-size: 34px;
  margin: 0;
}
.collection_details p{
  font-size: 18px;
  font-weight: 300;
}
.collection__btn {
  position: absolute;
  bottom: 64px;
  left: 30px;
  width:100%;
}
.collection__footer{
    text-align: center;
    margin-top: 20px;
}
.btn_coll {
  font-size: 14px;
  padding: 14px 20px;
  background-color: black;
  color: white;
  width: 81%;
}
.collection_space{
  margin-top: 40px;
}
.collection__available {
  border: 1px solid #707070;
  width: 300px;
  height: 399px;
  background-color: #FFFFFF;
  border-radius: 0 40px 0 40px;
}
.collection__list{
  position: relative;
}
/* page-3  */
.review__parant {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #707070;
  padding-bottom: 80px;
}
.review__details{
  width:17%;
}
.warkout {
  margin-top: 24px;
}
.review__left {
  width: 50%;
}
.warkout h2{
  font-size: 20px;
    font-weight: 900;
}
.review__details img{
  margin-bottom: 10px;
  width: 156px;
  height: 158px;
  object-fit: contain;
}
.review_main_img {
  width: 80%;
  margin-left: 8px;
}
.left_inner {
  display: flex;
}
.review_info {
  width: 50%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 7px rgba(0,0,0,0.14);
  border-radius: 0 40px 0 40px;
}
.review_title h2,h3{
  font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
}
.review__info_inner {
  padding: 18px;
}
.review_title {
  border-bottom: 1px solid #707070;
  padding-bottom: 20px;
}
.review_heading{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 900;
  margin-top: 10px;
}
.vip_two{
  display: flex;
  justify-content: space-between;
  color: #C5C5C5;
  text-decoration: line-through;
  font-size: 18px;
  font-weight: 400;
}
.form__control{
  padding: 5px 15px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
  height:54px;
  border-radius: 0px 0px 40px 0px;
  color: rgba(68,68,68,0.75);
  appearance: none;
}
.form__control:hover{
  border:1px solid #C5C5C5
}
.pre__order {
  margin-top: 18px;
}
.btn-order{
   background-color: black;
  color: white;
  width: 100%;
}
.delivery {
  text-align: center;
  margin-top: 15px;
  border-bottom: 1px solid #707070;
  padding-bottom: 30px;
}
.size__guides {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  align-items: center;
}
.size__guides_child {
  width: 40%;
  text-align: center;
}
.size__guides_child img{
  width:45px;
}
/* love-section-start */
.love_title{
  font-size: 24px;
    font-weight: 900;
    color: black;
    margin-bottom: 45px;
}
.love_btn{
  position: absolute;
    bottom: 8px;
    left: 18px;
    width: 100%;
}
.reviews_title {
  text-align: center;
  margin-bottom: 40px;
  align-items: center;
}
.reviews_title h2 {
  font-size: 30px;
  color:black;
  font-weight: 700;
}
.review__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review__top {
  padding: 26px;
  border: 1px solid #ECECEC;
}
.top__inner {
  display: flex;
}
.overall__title h2{
  font-size: 24px;
  font-weight: 800;
  margin-top: 14px;
}
.bottom__inner h4 {
  margin-top: 12px;
}
.review__italic{
  font-style: italic;
    font-size: 13px;
    opacity: 0.5;
    display: inline-block;
    margin: 0 0 1em 0;
}
.survey_father {
  display: flex;
  width: 100%;
  margin-top: 50px;
}
.survey_right {
  width: 45%;
  border-right: 1px solid #707070;
  padding: 0 45px;
}
input.member_input {
  width: 100%;
  margin-top: 20px;
}
.member_fit{
  margin-top: 30px;
}
.rating__detealis{
  display: flex;
  margin-top: 7px;
}
.left_survey {
  width: 50%;
  padding: 0 45px;
}
.section-left-box {
  border-bottom: 1px solid #707070;
  display: flex;
}
.left-content{
  width:45%;
  padding-bottom: 14px;
}
.left-content h3 {
  font-size: 20px;
  text-transform: lowercase;
}
.right-content {
  line-height: 2.3;
}
/* page-4 */
.section__guides {
  width: 100%;
  display: flex;
  margin-top: 35px;
  background-color: #ffffff;
  padding: 60px;
  box-shadow: 7px 7px 40px rgba(0,0,0,0.1);
  border-radius: 40px 0px 40px 0;
  margin-bottom: 20px;
}
.guides_title h2{
  font-size: 36px;
}
.guides_title{
  text-align: center;
}
.guides_title p {
  max-width: 750px;
    margin: 0 auto;
}
.inner__title {
  border-bottom: 1px solid #707070;
    margin-bottom: 15px;
    padding-bottom: 10px;
    width: 64%;
    text-transform: uppercase;
}
.terms_subtitle {
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 0;
}
.section__left_guides {
  width: 50%;
  padding-right: 40px;
  border-right: 1px solid #707070;
}
.section_right_guides {
  width: 50%;
  padding-left: 50px;
}
.table_guides{
  max-width: 550px;
    width: 100%;
    background: #F8F8F8;
    text-align: center;
    margin-bottom: 20px;
    border-collapse: collapse;
    margin-top: 20px;
}
.table_guides th,.table_guides td{
  padding: 10px;
  border: 1px solid #707070;
}
.delivery_title{
  margin-top: 36px;
}
/* page-6 */
.about_inner {
  display: flex;
  width: 100%;
}
.about_img {
  margin-right: 10px;
}
.about_info {
    width: calc(100% - 558px);
    background-color: #fff;
    padding: 50px;
    border-radius: 40px 0 40px 0;
    box-shadow: 7px 7px 40px rgba(0,0,0,0.2);
}
.about_info_title {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.video_clip {
  height: 500px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 50px;
}
.video {
  text-align: center;
}
.video_title{
  width:100%;
  text-align: center;
}
.video_title h2{
  font-size: 36px;
    max-width: 830px;
    margin: 0 auto;
    font-weight: 900;
}
.produces__items {
  width: 33.33%;
  padding-right: 50px;
}
.produces_inner {
  display: flex;
  width: 100%;
}
.ourselves {
  margin-top: 60px;
  padding: 50px;
  background-color: #fff;
  border-radius: 40px 0 40px 0;
  box-shadow: 7px 7px 40px rgba(0,0,0,0.1);
}
.ourselves__left {
  width: 50%;
  padding-right: 20px;
}
.ourselves__inner {
  display: flex;
  width: 100%;
  margin-top: 25px;
}
.ourselves__right {
  width: 50%;
}
/* page-7 */
.geeting_list {
    text-align: center;
    width: 38%;
    display: block;
    margin-bottom: 32px;
    margin: 8px auto;
}
.geeting_inner{
  text-align: center;
}
.geeting_btn{
  width:38%;
}